vendor/

# ignore any logs created in development
*.log
__*.[0-9]*
__*.index

# files generated in tests to compare to golden files
*.actual.golden

# files output by tools
*.out
*.pprof

# coverage artifacts
cov.html

# test binaries
log*.test

# tool output directory
report/

tmp/

/integration_test/out

./build/*
dist/

# compiled test binaries
server.test
logger.test
events.test
protocol.test
logd.test
